._pst-rlt {
	position: relative !important;
}

._dp-n {
	display: none !important;
}

.noti-badge {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 7px;
	width: 22px;
	height: 22px;
	right: 15px;
  	top: 14px;
  	background-image: linear-gradient(to bottom, #72afd3, #4cc0df, #00d0df, #00dfd2, #37ecba);
	color: #fff;
	border-radius: 999999px;
	font-size: 13px;
}