html{
    height: 100%;
  }
body{
    font-family: 'Prompt', Regular;
}

.checked {
color: orange;
}

/* menu */
nav{
    width:100%;
    height:60px;
    background-color:#ffffff;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.1);
    position:fixed;
    text-align:center;
    z-index:99; top:0;
}
.btn_menu_list{
    width:100%;
    height:100%;
    border:0;
    background-color:#ffffff;
    position:relative;
}
.menu_list{
    height: 30px;
    position: absolute;top: 15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.menu_list_active{
    height: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
}
/* menu */

.menu_list_profile{
    height: 20px;
    margin-bottom: -15px;
}
.menu_list_profile_text{
    font-size: 10px;
}
.btn_fav{
    height: 20px;
}
.nav-tabs .nav-link.active{
    border-bottom:2px solid #37ECBA;
    border-top:0; 
    border-right:0; 
    border-left:0; 
}
.nav-tabs .nav-link:hover{
    border-bottom:2px solid #37ECBA;
    border-top:0; 
    border-right:0; 
    border-left:0; 
}
.nav-link{
    color:#000000;
}

/* header */
.wrap_container_head{
    margin: 20px 0 0 !important;
}
.headder_text{
    font-size:18px;
}
.text_right{
    text-align: right;
}
.text_center{
    text-align: center;
}
.all_more_link{
    font-size:12px;
    color:#AEAEAE;
}
.all_more_link:hover{
    color:#AEAEAE;
    text-decoration-line: none;
}
/* header */

select.select_search {
    width:100%;
    height:35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-bottom: 1px solid #ccc;
    border-top:0;
    border-left:0;
    border-right:0;
}
.btn_color{
    width:200px;
    height:40px;
    background-image: linear-gradient(to bottom, #72afd3, #4cc0df, #00d0df, #00dfd2, #37ecba);
    color:#fff;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.1);
    border-radius:20px;
    border:0;
    margin: 20px auto;
    cursor: pointer;
    font-size: 14px;
}
.btn_color_follow{
    width:auto;
    height:40px;
    margin: 0 auto;
    cursor: pointer;
    padding: 0 30px;
}
.btn_color_employ{
    width:auto;
    height:35px;
    margin: 0 auto;
    cursor: pointer;
    padding: 0 30px;
}
.btn_layout{
    width:100%;
    height:40px;
    background:#fff;
    color:#AEAEAE;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.1);
    border-radius:20px;
    cursor: pointer;
    border: 1px solid #37ECBA;
}
.btn_layout_select{
    width:100%;
    height:40px;
    background:#37ECBA;
    color:#fff;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.1);
    border-radius:20px;
    cursor: pointer;
    border: 1px solid #37ECBA;
}
.btn_layout_edit{
    width:100px;
    height:25px;
    background:#fff;
    color:#AEAEAE;
    border-radius:20px;
    border: 1px solid #AEAEAE;
    cursor: pointer;
    font-size: 12px;
}
.btn_layout_back{
    width: 75px;
    height:30px;
    background:#fff;
    color:#72afd3;
    border-radius:20px;
    border: 1px solid #72afd3;
    font-size: 12px;
    cursor: pointer;
}
.btn_layout_equipment{
    width:auto;
    height:35px;
    padding: 7px;
    background:#fff;
    color:#72afd3;
    border-radius:20px;
    border: 1px solid #72afd3;
    cursor: pointer;
    font-size: 12px;
}
.btn_catagory{
    height:60px; 
    color:#fff; 
    border-radius:10px; 
    overflow:hidden; 
    margin:0 10px; 
    text-align:center; 
    background:#37ECBA;
    background-image: url(../assets/image/img_show01.png);
    background-size: cover;
}
.btn_catagory_text{
    height:100%;
    background-image: linear-gradient(to bottom, rgba(114,175,211,0.5), rgba(76,192,223,0.5), rgba(0,208,223,0.5), rgba(0,223,210,0.5), rgba(55,236,186,0.5));
    padding-top:18px; 
}
.slick-active .btn_catagory_text{
    text-decoration: underline;
    font-weight: bold;
    transition: .3s ease-in-out;
}
.wrap_container_search{
    padding-top:20px; 
    margin: 0 20px auto !important; 
    box-shadow: 0px 5px 8px rgba(0,0,0,0.1); 
    border-radius:10px;
}


.month_years{
	width: 100%;
	margin: 40% auto 10px;
	color: #00b8ec;
}
.datepicker{
	width: 100%;
	margin: 0 auto;
}
.datepicker tr{
	height: 54px;
}
.datepicker td{
	width: 54px;
	border-radius: 100%;
	vertical-align: middle;
	margin: 0 5px;
	cursor: pointer;
}
.datepicker td:hover{
    background-image: linear-gradient(to bottom, #72afd3, #4cc0df, #00d0df, #00dfd2, #37ecba);
	color: #fff;
}
.datepicker td:focus{
    background-image: linear-gradient(to bottom, #72afd3, #4cc0df, #00d0df, #00dfd2, #37ecba);
	color: #fff;
}
.activedate{
    background-image: linear-gradient(to bottom, #72afd3, #4cc0df, #00d0df, #00dfd2, #37ecba);
	color: #fff;
}
.active_employ_date{
	opacity: 0.5;
}
.active_employ_date:hover{
	color: #fff;
}
.price_package{
    color: #ff3939;
}
.detail_pack{
    color:#707070;
    font-size: 14px;
    margin: 0;
}

/* checkbox */
.container_checkbox {
  display: block;
  position: relative;
  padding-left: 60px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    height:60px;
  	width:100%;
    background:#fff;
    color:#000000;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.1);
    border-radius:10px;
    padding-top:10px;
}
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  height: 25px;
  width: 25px;
  border-radius:15px;
  background-color: #eee;
}

.container_checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.container_checkbox input:checked ~ .checkmark {
  background-image: linear-gradient(to bottom, #72afd3, #4cc0df, #00d0df, #00dfd2, #37ecba);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}
.container_checkbox .checkmark:after {
  left: 9px;
  top: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.progress{
    width: 100%; 
    height: 10px;
    background-color: #fff; 
    border-radius: 1rem; 
    border: 1px solid #37ecba;
}
.progress-bar{
    background-image: linear-gradient(to bottom, #72afd3, #4cc0df, #00d0df, #00dfd2, #37ecba);
    border-radius: 1rem; 
}
.container_radio {
    display: block;
    position: relative;
    padding-left: 60px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height:auto;
    width:100%;
    background:#fff;
    color:#000000;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.1);
    border-radius:10px;
    padding-top:10px;
  }
  .container_radio_fix{
    height:60px;
  }
  .container_radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;

  }
  .container_radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .container_radio input:checked ~ .checkmark {
    background-image: linear-gradient(to bottom, #72afd3, #4cc0df, #00d0df, #00dfd2, #37ecba);

  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container_radio input:checked ~ .checkmark:after {
    display: block;
  }
  .container_radio .checkmark:after {
    left: 9px;
    top: 6px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav_bottom{
    width:100%;
    height:60px;
    background-color:#ffffff;
    text-align:center;
    z-index:99;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
  }
  .nav_bottom_profile{
    box-shadow: 0px -5px 8px rgba(0,0,0,0.1);
  }

  .album_show_wrap{
    padding: 0;
    border-radius: 10px;
    border:0;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.1);
    margin: 10px auto;
  }
  .album_show{
    width:100%;
    height:auto;
    overflow:hidden;
    position:relative;
    border-radius: 10px;
  }
.album_show_detail_group{
    position: absolute;
    width:100%;
    padding:10px 0px 10px 10px;
}
.float_left{
    float:left;
}
.hastag_album{
    font-size:10px;
    border:1px solid #fff;
    border-radius:20px;
    padding:3px 8px;
    color:#fff;
}
.caption_album{
    font-size:14px;
    padding-right:10px;
    color:#fff;
    padding-top:5px;
}
.fav_count{
    padding-top: 10px; color:#fff;
}
.center{
    width:100%;
}
.btn_color_bar{
    background:#72AFD3;
    width:100%;
    margin:0;
}

/* choose file */
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.btn_choose {
    width: 100%;
    height: 100%;
    display: block;
    background: none;
    border: none;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
}
.album_show_rlt{
    position: relative;
}
.wrap_choose_file{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
  /* choose file */

  .padding_card{
      padding: 20px;
  }
  .btn_create{
    height:60px;
    padding: 0;
    border-radius: 10px; 
    border: 1px dashed #a3a3a3; 
    box-shadow: 0px 5px 8px rgba(0,0,0,0.1);
  }
  .btn_create .btn{
    height:100%;
  }
.textarea_edit{
    height: 150px !important;
}
  .a_getlink{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }
  .a_getlink:active,
  .a_getlink:hover{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }
  .btn_bottom{
    background: #72AFD3;
    color:#fff;
    width:100%;
  }
  .btn_bottom:hover{
    color:#fff;
    text-decoration: none;
  }
  .btn_layout_bottom{
    background: #fff;
    color:#72AFD3;
    border:1px solid #72AFD3;
    width:100%;
  }
  .btn_layout_bottom:hover{
    color:#72AFD3;
    text-decoration: none;
  }
  .input_box{
    width:100%;
    border-bottom: 1px solid #72AFD3;
    border-top:0;
    border-left:0;
    border-right:0;
    border-radius:0;
  }
  .logo{
      width: 100px;
      height: 100px;
      margin: 0 auto;
  }
  .btn_width{
      width: 100%;
  }
  .margin_box20{
      margin: 20px auto;
  }
  .btn_color_facebook{
    height:40px;
    background: #3B5998;
    color:#fff;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.1);
    border-radius:20px;
    border:0;
    margin: 20px auto;
    cursor: pointer;
    font-size: 14px;
}
.bottom_fixed{
    position: fixed;
    bottom: 0;
    top: auto;
    left: 10%;
    right: 10%;
}
.center_fixed{
    position: fixed;
    top: 50%;
    left: 0;
    right: 5%;
}

.wrap_all{
    width: 100%;
    height: 100%;
    background-image: url(../assets/image/bg_selectlogin.png);
    background-size: cover;
}

.color_fff{
    color: #fff;
}

.img_profile{
    width:80px;
    height:80px;
    border-radius:40px;
    overflow: hidden;
}
.img_profile img{
    width:100%;
}
.username_profile{
    font-size:10px;
}

.packagecard_box{
    cursor: pointer; 
    width:100%; 
    height:60px; 
    margin-bottom:20px; 
    padding: 0; 
    border-radius: 10px; 
    border:0; box-shadow: 0px 5px 8px rgba(0,0,0,0.1);
}
.packagecard_box_padding{
    padding:18px 20px;
}

.review_box{
    padding: 0; 
    border-radius: 10px; 
    border:0; 
    box-shadow: 0px 5px 8px rgba(0,0,0,0.1);
}
.review_box_head{
    padding:10px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    background:#F2F2F2;
}
.review_img_profile{
    width:40px; 
    height:40px; 
    border-radius:20px; 
    overflow: hidden;
}
.review_img_profile img{
    height: 100%;
}
.review_username{
    font-size:14px;
}
.review_body{
    width:100%; 
    height:auto; 
    overflow: hidden; 
    padding:10px; 
    font-size:12px;
}
.review_body p{
    margin:0;
}